* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Archivo Black", sans-serif;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(28, 168, 224);
    color: white;
    font-size: x-large;
    height: 70px;
    padding: 10px;
    font-family: "Archivo Black", sans-serif;
}

header img {
    width: 50px;
}

.musicoff {
    opacity: 0.5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    background-color: rgb(193, 224, 237);
    height: 90vh;
}

.contenedorBienvenida {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    height: 300px;
    width: 80%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.contenedorTriggerPreguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
}

.triggerQuestionsBtn,
.btnRegister,
.btnLogin,
.btnLogout  {
    background-color: rgb(28, 168, 224);
    border: rgb(28, 168, 224) 4px solid;
    border-radius: 5px;
    width: 150px;
    color: white;
    padding: 18px;
}

.triggerQuestionsBtn:hover,
.btnRegister:hover,
.btnLogin:hover,
.btnLogout:hover  {
    background-color: white;
    border: rgb(28, 168, 224) 4px solid;
    border-radius: 5px;
    color: rgb(28, 168, 224);
    padding: 18px;
}

.contenedorResultados {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    width: 80%;
    padding: 20px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.contenedorGraficas {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    height: 300px;
    width: 80%;
    gap: 18px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#graficaResultados {
    width: 100%;
    height: 450px;
}

.cardPreguntas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    width: 80%;
    height: 40%;
    padding: 20px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.optionBtn {
    border-radius: 5px;
    width: 100%;
    height: 70px;
    color: black;
}

.optionBtn:hover {
    /* border-radius: 5px;
    width: 100%;
    height: 70px;
    color: black; */
    border: 3px solid black;
    font-weight: bold;
}

#contenedorOptions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.option1 {
    background-color: rgb(216, 59, 59);
    border: rgb(216, 59, 59);
}

.option2 {
    background-color: rgb(233, 233, 89);
    border: rgb(233, 233, 89);
}

.option3 {
    background-color: rgb(108, 214, 108);
    border: rgb(108, 214, 108);
}

.option4 {
    background-color: rgb(112, 189, 219);
    border: rgb(112, 189, 219);
}

.nextBtn {
    background-color: rgb(28, 168, 224);
    border: rgb(28, 168, 224);
    border-radius: 5px;
    width: 50%;
    height: 40px;
    color: white;
    padding-left: 10px;
}

.hidden {
    display: none !important;
}

/* AUTHENTICATION */

/* .btnRegister {
    background-color: white;
    border: 0.1px solid rgb(216, 216, 216);
    border-radius: 3px;
    box-shadow: 1px 1px 2px grey;
    font-size: small;
    font-weight: 600;
    color: rgb(84, 84, 84);
    padding: 7px 15px;
    width: 100px;
    align-items: center;
    margin-left: 12px;
}

.btnRegister:hover {
    cursor: pointer;
    background-color: rgb(235, 235, 235);
} */

/* .btnLogin {
    background-color: blue;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 2px grey;
    font-size: small;
    font-weight: 600;
    color: white;
    padding: 7px 15px;
    width: 100px;
    align-items: center;
    margin-left: 12px;
}

.btnLogin:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 223);
} */

/* .btnLogout {
    background-color: red;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 2px grey;
    font-size: small;
    font-weight: 600;
    color: white;
    padding: 7px 15px;
    width: 100px;
    align-items: center;
    margin-left: 5px;
}

.btnLogout:hover {
    cursor: pointer;
    background-color: rgb(235, 0, 0);
} */

#divLogin {
    display: flex;
    justify-content: center;
    gap: 18px;
}

#message {
    font-size: small;
    display: inline-block;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 8.5px;
}

.divPopup {
    display: flex;
    background-color: rgba(99, 99, 99, 0.438);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.divInside {
    background-color: white;
    border-radius: 5px;
    width: 600px;
    max-width: 100%;
    padding: 0px 20px 30px 20px;
    text-align: center;
}

.headExit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleRegister {
    flex-grow: 1;
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
}

.btnExit {
    background-color: red;
    border: none;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    padding: 0px 0px;
    margin-left: auto;
}


.btnExit:hover {
    cursor: pointer;
    background-color: rgb(222, 0, 0);
}

.cruz_exit {
    width: 100%
}

#formRegister input,
#formLogin input {
    width: 50%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#formRegister label,
#formLogin label {
    font-weight: 500;
    font-size: medium;
}

#formRegister input[type="submit"] {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: medium;
    font-weight: 500;
    margin-top: -10px;
    height: 40px;
}

#formLogin input[type="submit"] {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: medium;
    font-weight: 500;
    margin-top: 10px;
    height: 40px;
}

#formRegister input[type="submit"]:hover,
#formLogin input[type="submit"]:hover {
    background-color: rgb(0, 0, 232);
    cursor: pointer;
}

#linkRegister {
    font-size: small;
}
/* 
.contenedorGraficas {
    display: flex;
    flex-direction: column;
    justify-content: left;

    background-color: white;
    border-radius: 15px;
    width: 45%;
    padding: auto;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 40px;
} */

#divStats {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-top: 10px;
}

#divStats button {
    margin-right: 10px;
}

.contenedorResultados {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    width: 80%;
    padding: 20px;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#graficaResultados {
    width: 100%;
    height: 450px;
}

#contenedorScores {
    flex-direction: column;
}

#contenedorScores table {
    display: block;
    width: 100%;
    text-align: center;
    font-size: small;
    border-collapse: collapse;

}

#contenedorScores tr {
    height: 30px;
}

#contenedorScores th,
td {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-right: 20px;
}

/* MEDIA QUERIES */

@media (min-width: 800px) {

    /* main {
        margin-left: auto;
        margin-right: auto;
    } */

    .cardPreguntas {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        border-radius: 15px;
        width: 80%;
        padding: 20px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        align-self: center;
    }

    .respuestaBtn {
        border-radius: 5px;
        width: 100%;
        height: 70px;
        color: white;
    }

    #contenedorOptions {
        display: flex;
        gap: 20px;
    }

    .contenedorGraficas {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
        border-radius: 15px;
        width: 45%;
        padding: 20px;
        height: 80vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .contenedorBienvenida {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        border-radius: 15px;
        width: 45%;
        height: 80vh;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    /* #mainBienvenida {
        display: flex;
        flex-direction: row;
        padding-left: auto;
        padding-right: auto;
    } */

    #graficaResultados {
        width: 100%;
        height: 450px;
    }
}

@media (min-width: 1200px) {

    /* main {
        margin-left: auto;
        margin-right: auto;
    } */

    .cardPreguntas {
        display: flex;
        background-color: white;
        border-radius: 25px;
        width: 80%;
        padding-right: auto;
        padding-left: auto;
        height: 450px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }

    .respuestaBtn {
        border-radius: 5px;
        width: 350px;
        height: 120px;
        color: white;
    }

    #contenedorOptions {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: auto;
        margin-right: auto;
    }

    .nextBtn {
        background-color: rgb(28, 168, 224);
        border: rgb(28, 168, 224);
        border-radius: 5px;
        width: 25%;
        height: 40px;
        color: white;
        align-self: flex-end;
        margin-right: 50px;
    }

    .contenedorBienvenida {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        border-radius: 15px;
        width: 45%;
        height: 80vh;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 40px;
    }

}